.alink {
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}

.alink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e10000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.alink:hover:after {
  width: 100%;
  left: 0;
}

.alink:hover {
  color: #ffffff;
}

.alink:active {
  color: #ffffff;
}

.alink:visited {
  color: #ffffff;
}
